  <launch>

    <node pkg="robonaut_myo" name="IMU_EulerStar_Graph_node" type="imu_stars.py"/>
    <!-- <node pkg="robonaut_myo" name="ARM_Limitations_node" type="arm_limits_setup.py"/> -->
    <!-- <node pkg="robonaut_myo" name="myo_findpose" type="handgest_proc.py"/> -->
   	
   	<node pkg="robonaut_myo" name="Robonaut_Movement_Process_node" type="Robonaut_mainControl.py"/>

    <!-- Gazebo Node-->
    <node pkg="gazebo_ros" type="gazebo" name="gazebo_node"/>

  </launch>
